.footer {
  position: relative;
  z-index: 1;

  .footer__container {
    position: relative;
    border-radius: 70px 70px 0 0;
    background: rgba(0, 0, 0, 0.93);
    background-image: url(../img/ling-bg.svg);
    background-size: cover;
    background-position: 100% 50%;
    height: 100vh;
    
    .footer__block {
      position: relative;
      height: 400px;
      padding: 30px;

      .footer__logo {
        display: block;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        left: 0;
        width: 50px;
      }
      .footer__list {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: initial;
        column-gap: 0;
        margin-top: 50px;
      }
      .footer__title {
        font-size: 22px;
        font-family: "MyriadPro-Bold";
        line-height: 22px;
        color: var(--accent-orange);
      }
      .footer__menu {
        max-width: 180px;
        margin-top: 20px;
        .footer__menu-list {
          display: flex;
          flex-wrap: wrap;
          row-gap: 10px;
          .footer__menu-item {
            width: 50%;
            text-decoration: none;

            .footer__text {
              text-decoration: none;
              transition: color 0.3s ease;
              font-size: 15px;
              line-height: 18px;
              color: #f5f5f5;
              &:hover {
                color: #f5c109;
              }
            }
          }
        }
      }
      .footer__connect {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        line-height: 18px;
        margin-top: 20px;
        .footer__info {
          text-decoration: none;
          color: #f5f5f5;
        }
      }
      .footer__social {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-top: 20px;
        font-size: 15px;
        .footer__socs {
          text-decoration: none;
          color: var(--main-color);
        }
      }
      .footer__copyright {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 45px;
        left: 0;
        row-gap: 10px;
        font-size: 15px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.3);
      }
      .footer__word {
        display: flex;
        justify-content: center;
        font-family: "MyriadPro-Bold";
        font-size: 8.2vw;
        margin: 90px -33px -38px -33px;
        background: linear-gradient(-315deg, #f5c109, #f40d0d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        --bg-size: 400%;
        transition: all 0.3sease;
        background-size: 250% 250%;
        animation: gradientAnimation 1s linear infinite alternate;
      }
      @keyframes gradientAnimation {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
    }
  }
}
